{% extends 'film/navbar.html' %}
{% load static %}

{% block body_block %}
<div id="about-box">
    <h3>About Page:</h3>
    <p>Film Frantics is a site containing reviews for a great variety of movies. Users are able to view previous reviews, and even add their own.</p>
    <p>The site was developed by Craig Sinclair, a Computer Science student at Glasgow University.</p>
    <p>Importantly, the movie database API used throughout the site is creditted to TMDB, available: <a href="https://developer.themoviedb.org/docs/getting-started" id="about-link"> here</a></p>
</div>
{% endblock %}