{% extends 'film/navbar.html' %}
{% load static %}

{% block search_box %}
{% include "film/searchBox.html" %}
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/detailsStyles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <script src="{% static 'js/progressbar.js' %}"></script>
    <script src="{% static 'js/semicircle.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        const plusSrc = "{% static 'images/bookmark-plus.svg' %}";
        const checkSrc = "{% static 'images/bookmark-check.svg' %}";
    </script>
{% endblock %}


{% block body_block %}
    <div class="movie-search-info">
    {% if movie %}

    <div class="movie-title-block" style="display: flex">
        <h1 id="detail-title">{{ movie.title }} </h1>
        
    </div>
    <div class="movie-container">


        <div class="movie-poster">
            <div class="poster-wrapper">
                <img src="{{ poster_url }}" alt="{{ movie.title }} Poster" class="moviePicture-details"/>

                <form method="post">
                    {% csrf_token %}
                    <button type="button" class="save-image" id="bookmark-button" 
                            data-add-url="{% url 'film:add_movie_to_saved'  movie.id %}" 
                            data-remove-url="{% url 'film:remove_movie_from_saved' movie.id %}" 
                            onclick="toggleBookmark(this)">
                        <img src="{% static 'images/bookmark-plus.svg' %}" id="bookmark"/>
                    </button>
                </form>
            </div>
        </div>
        


        <div id="movie-info">

            <div class="review-save">
                <div id="container" score="{{ average_score }}"></div> <!-- Average score 'progress circle' -->
            </div>

            <p><span style="font-weight: bold; font-size: larger;">Overview: </span><span id="movie-overview">{{ movie.overview }}</span></p>
            <button id="read-more-button" class="hidden">Read more</button>
            <p><span style="font-weight: bold; font-size: larger;">Release Year:</span> {{ release_date }}</p>
            
            <hr>

            {% if cast %}
            <p><span style="font-weight: bold; font-size: larger;">Cast:</span></p>
            <div class="cast-container">
                {% for member in cast %}
                    <div class="people-box">
                        <a href="{% url 'film:person' member.id %}" >
                            <img src="{{ member.profile_url }}" alt="{{ member.name }}" class="cast-portrait"/>
                        </a>
                        <p>{{ member.name }}</p>
                    </div>
                {% endfor %} 
            </div>

            {% endif %}
        </div>
    </div>

        {% if recommended %}
        <h2 id="recommendations-intro">Liked this? Here are some recommendations:</h2>
        <div class="recommend-container">
            
            {% for recom in recommended %}
            <div class="people-box">
                <a href="{% url 'film:details' recom.id %}" >
                    <img src="{{ recom.poster_url }}" alt="{{ recom.title }}" class="cast-portrait"/>
                </a>            
            </div>
            {% endfor %}
        </div>
        {% endif %}

    {% endif %}

    
</div>
{% endblock %}