{% extends 'film/navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/formStyles.css' %}">
{% endblock %}

{% block body_block %}
<form method="post">
    <div id="form_box">
        <h2>Login:</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <p>Don't have an account yet? Create one <a class="anchor-no-style" href="{% url 'film:register' %}">here!</a></p>
        <button type="submit">Login</button>
    </div>
</form>
{% endblock %}