h1 {
    color: red;
}

body{
    background-color: #333;
    color: white;
    font-family: "Roboto";
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
    background-color: #1B2631;
    margin: -8px;
    margin-right: auto;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B2631;
    width: 100%;
}

.navbar ul li {
    display: flex;
    align-items: center;
    float: left;
}


.navbar li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar li a#title-nav{
    color: red;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    margin-right: auto;
}

.navbar li a:hover {
    background-color: #273746;
}

.infoBox:hover{
    background-color: #273746;
}

.navbar li a#title-nav:hover{
    background-color: #1B2631;
}

#addMovieBox{
    margin-top: 80px;
}

#field-wrapper {
    display: block;
    margin-bottom: 50px;
    padding: 10px;
}

.form-control {
    width: 50%;
    height: 20px;
    border: 1px solid red;
    font-size: 100px;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the spacing between items */
    list-style-type: none;
    padding: 0;
}

.movie-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.movie-list img {
    border-radius: 8px; /* Optional: add rounded corners to images */
    width: 200px;
}
.movie-list a {
    text-decoration: none;
    color: white;
    text-align: left;
    margin-top: 5px;
}
.movie-list a:hover {
    color: #007BFF; /* Optional: add hover effect */
}

.movie-box{
    max-width: 200px;
    padding: 5px;
}

.movie-box :hover{
    color:white;
}

#homepage-box{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#about-box{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#about-link{
    color: white;
}

.search-box{
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #1B2631;
}

.search-box input[type="text"]{
    padding: 6px;
    font-size: 20px;
    border: 1px solid #273746;
    background-color: #1B2631;
    width: 60%;
    color: white;
}

.search-box input[type="text"]:active{
    background-color: #1B2631;
    color: white;
}

.search-box button{
    background: #273746;
    font-size: 20px;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 4px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.index-movie-rating{
    font-weight: bold;
}

.index-movie-title{
    font-weight: lighter;
    text-align: left;
    font-size: smaller;
}

.movie-index-link{
    text-decoration: none;
    color:white;
}

.movie-index-link p:hover{
    text-decoration: none !important;
    color: white;
}

.movie-index-link:link, .movie-index-link:visited{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.movie-box:hover{
    opacity: 60%;
}

.movie-box li a{
    text-decoration: none !important;
    color: inherit !important;
}

.movie-box li a:hover{
    text-decoration: none !important;
    color: inherit !important;
}