:root{
    color-scheme: dark;
}

h1 {
    color: red;
}

body{
    background-color: #333;
    color: white;
    font-family: "Roboto";
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
    background-color: #1B2631;
    margin: -8px;
    margin-right: auto;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B2631;
    width: 100%;
}

.navbar ul li {
    display: flex;
    align-items: center;
    float: left;
}


.navbar li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar li a#title-nav{
    color: red;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    margin-right: auto;
}

.navbar li a:hover {
    background-color: #273746;
}

.infoBox:hover{
    background-color: #273746;
}

.navbar li a#title-nav:hover{
    background-color: #1B2631;
}


#username-nav{
    margin-left: auto;
}

#username-nav-div{
    margin-left: auto;
    margin-right: 2em;
    display: flex;
}

.search-box input[type="text"]{
    background: transparent url("../images/search.svg") no-repeat 5px;
    background-size: 25px 25px;
    text-indent: 30px;
    height: auto;
    border: 1px solid #3a3a3a;
    border-radius: 0.375rem;
    background-color: #2c2c2c;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 30px;
}

.search-box input[type="text"]:focus{
    border: none !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

#addMovieBox{
    margin-top: 80px;
}

#field-wrapper {
    display: block;
    margin-bottom: 50px;
    padding: 10px;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.movie-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.movie-list img {
    border-radius: 8px; /* Optional: add rounded corners to images */
    width: 200px;
}
.movie-list a {
    text-decoration: none;
    color: white;
    text-align: left;
    margin-top: 5px;
}
.movie-list a:hover {
    color: #007BFF; /* Optional: add hover effect */
}

.movie-box{
    max-width: 200px;
    padding: 5px;
}

.movie-box :hover{
    color:white;
}

#homepage-box{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#about-box{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#about-link{
    color: white;
}

.search-box{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.search-box input[type="text"]{
    padding: 6px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 150vh;
    display: block;
}

.search-box button{
    background: #273746;
    font-size: 20px;
    border: 1px solid #273746;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}

.index-movie-rating{
    font-weight: bold;
}

.index-movie-title{
    font-weight: lighter;
    text-align: left;
    font-size: smaller;
}

.movie-index-link{
    text-decoration: none;
    color:white;
}

.movie-index-link p:hover{
    text-decoration: none !important;
    color: white;
}

.movie-index-link:link, .movie-index-link:visited{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.movie-box:hover{
    opacity: 60%;
}

.movie-box li a{
    text-decoration: none !important;
    color: inherit !important;
}

.movie-box li a:hover{
    text-decoration: none !important;
    color: inherit !important;
}

.moviePicture{
    height: 60%;
    width: auto;
}

.index-header{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

#suggestions{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#suggestions li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid white;
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

#suggestions li:hover{
    opacity: 60%;
}

#suggestions li a{
    color: white;
    text-decoration: none;

    cursor: pointer;
    display: flex;
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.2; /* Adjust line height if necessary */
    margin-left: 20px;
    margin-top: 2em;
}

.anchor-no-style{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.anchor-no-style:hover{
    opacity: 70%;
}

